# cached files
__pycache__
*.pyc
.pytest_cache/

# editor settings
.vscode/

# model outputs
test_save_dir/
output/
*.pickle
*.h5

# wandb logs
wandb/
*.log
*.json
*.wandb
*.yaml

# test files
physics.py
main.py

# notes
references.txt
help.txt
notes.txt