git+https://github.com/George-Ogden/curling.git # use GitHub curling until added to PyPi
dm_control
dm_env
numpy
opencv-python
scikit-learn
simple-parsing
tensorflow==2.11.0
tensorflow-probability==0.19.0
git+https://github.com/George-Ogden/tqdm # use my tqdm version until original is patched
wandb